<header class="header">
	<div class="header-inner">
			<div class="header-logo">
				<a href="javascript:;" class="link--logo">Mntn</a>
			</div>
			{% include '../navigation/_navigation.twig' with {
				navigationItems: navigationItems,
			} %}
			<div class="burger-menu-two js-menuTrigger">
				<div class="burger-menu-two__line"></div>
				<div class="burger-menu-two__line"></div>
				<div class="burger-menu-two__line"></div>
				<div class="burger-menu-two__line"></div>
			</div>

			<div class="header-account">
				<img src="./img/template/account.svg" alt="Account" width="24px" height="24px">
				<div class="text">Account</div>
				<div class="social social--header">
					<img src="./img/template/instagram.svg" alt="Instagram" width="20px" height="20px">
					<img src="./img/template/twitter.svg" alt="Twitter" width="22px" height="18px">
				</div>
			</div>

	</div>
</header>