<section class="top">
	<div class="social">
		<a href="javascript:;" class="link--social">Follow us</a>
		<div class="social__img">
			<img src="./img/template/instagram.svg" alt="Instagram">
		</div>
		<div class="social__img">
			<img src="./img/template/twitter.svg" alt="Twitter">
		</div>
	</div>
	<div class="top-description">
		<div class="tagline">A Hiking guide</div>
		<div class="title">Be prepared for the Mountains and beyond!</div>
{#		<div class="top-scroll">#}
		<a href="#card1" class="top-scroll link link--scroll">
			scroll down
			<svg width="16" height="24" viewBox="0 0 16 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M16 16L14.59 14.59L9 20.17V0H7V20.17L1.42 14.58L0 16L8 24L16 16Z" fill="white"/>
			</svg>
{#			<img src="./img/template/arrowDown.svg" class="top-scroll__img" alt="ArrowDown">#}
		</a>
{#		</div>#}
	</div>
</section>