extends common/layout

block vars
    - var pageTitle = 'Index page';

block styles
    link(rel='stylesheet' type='text/css' href='css/main.css')
block main
    h1 Start page

block scripts
    script(src="js/main.js")
