<div class="mobile-navigation__shadow js-mobileShadow"></div>
<div class="mobile-navigation__menu js-mobileMenu">
	{% include '../navigation/_navigation.twig' with {
		navigationModifier: 'navigation--mobileMenu',
	}%}
</div>