.wrapper
	position: relative
	height: 100vh
	overflow-x: hidden
	overflow-y: auto

.parallax
	position: absolute
	//position: relative
	//position: fixed
	display: block
	perspective: 100px
	overflow-x: hidden
	overflow-y: auto
	top: 0
	left: -2%
	right: -2%
	bottom: 0
	//height: 1000px
	//perspective: 55px
	//height: 100vh
	//overflow-x: hidden
	//overflow-y: auto
	//position: relative

	&__item
		//position: absolute
		//display: block
		position: fixed

		top: 0
		right: 0
		bottom: 0
		left: 0
		height: 1000px

		&--clouds
			background: url("../img/template/clouds.png")
			//background-size: 100% auto
			width: 100%
			//padding-top: 57.9687%
			//transform: translateZ(-200px) scale(3)
			background-position: bottom center
			background-size: auto 1038px
			background-repeat: repeat-x
			//width: 100%
			//top: 0


		&--mountains
			background: url("../img/template/mountains.png") no-repeat
			//background-size: 100% auto
			background-size: auto 1038px
			width: 100%
			//padding-top: 74.0625%
			top: 30%
			//transform: translateZ(-250px) scale(3.5)

		&--grass
			background: url("../img/template/grass.png") no-repeat
			background-size: 100% auto
			//background-size: auto 1038px
			width: 100%
			//padding-top: 48.2291%
			top: 50%
			//transform: translateZ(-300px) scale(4)